parameters:
    level: max
    excludes_analyse:
        - "%currentWorkingDirectory%/Tests"
        - "%currentWorkingDirectory%/vendor"
        - "%currentWorkingDirectory%/components"
    paths:
        - "%currentWorkingDirectory%"


